{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^(react|next)",
    "^(node:)?(.*)$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@nestjs/(.*)$",
    "^@prisma/(.*)$",
    "^@types/(.*)$",
    "^@faker-js/(.*)$",
    "^@eslint/(.*)$",
    "^@nestjs-modules/(.*)$",
    "",
    "^@/common/(.*)$",
    "^@/components/(.*)$",
    "^@/modules/(.*)$",
    "src/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
